<div id="disqus_thread"></div>
<script type="text/javascript">
    (function() {
        var dsq = document.createElement('script');

        window.disqus_config = function () {
            console.log(JSON.stringify(this))

            this.page.url = 'http://rasenplanscher.info{{page.url}}';
            this.page.identifier = '{{page.id}}';
        };

        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//rasenplanscher.disqus.com/embed.js';
        dsq.setAttribute('data-timestamp', new Date());

        document.getElementsByTagName('head')[0].appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
