$font-default: "Noto Sans", sans-serif;
$font-heading: "Maven Pro", sans-serif;
$font-code: "Anonymous Pro", monospace;

$black: #000;
$theme-color: #274;
$logo-color: tint($theme-color, 60%);

$link-border-width: .1em;
$link-border-radius: .3em;
$link-padding-horizontal: .15em;
$link-padding-bottom: .1em;
$link-padding: 0 $link-padding-horizontal $link-padding-bottom;
$link-margin-horizontal: -( $link-padding-horizontal + $link-border-width );
$link-margin: 0 $link-margin-horizontal;

$code-border-color: tint($black, 67%);
$code-border-width: .1em;
$code-border-radius: .2em;
